body {background-color:yellow}
h1 {text-align:center; color:red; font-size:32px}
hr {border-width:3px; border-color:blue}
h2 {font-size:25px; color:black}
	p {font-size:18px}
	.senka {list-style-type:square; font-size:18px; text-shadow:0px 0px 5px #ffc, 4px 0px 8px #fff, -4px 0px 8px #fff}
	table {border-color:#FFA500; background-color:#7CFC00}
	.naslovtabele {color:red; font-style:bold}
	ul {list-style-type:square; font-size:18px}
	.box {width:80%; padding:1em; border:9px #B1FB17 solid; box-sizing:border-box}
	